.quote {
  background-color: #1bc7fb;
  color: #162b2b;
  border-radius: 6px;
  padding: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  /* box-shadow: 0px 0px 10px rgba(233, 42, 42, 0.5); */
  filter: drop-shadow(10 5px 10px);
}

.quote p {
  font-size: 2.5rem;
}

.quote figcaption {
  font-style: italic;
  font-size: 1.5rem;
  text-align: right;
  /* color: #a1e0e0; */
  color: #162b2b;
}
