.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  /* margin-left: 5rem ; */
  /* margin-right: 5rem; */
  /* background-color: red; */
}

.about__header {
  font-size: 3rem;
  font-weight: bold;
  color: #d0021e;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about__information {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin: auto;
  width: 60%;
  /* margin-bottom: 2rem; */
}

.fade-in {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .about__information {
    width: 80%;
  }
}
