.website-background {
  background-image: url("https://wallpaperaccess.com/full/17498.jpg");
  background-size: "cover";
  width: 100vw;
  height: 100vh;
  font-size: 50px;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  
}


